name: Bygg og deploy ved push til master

on:
   push:
      branches:
         - master

jobs:
   build:
      name: Build and push Docker container
      runs-on: ubuntu-latest
      permissions:
         contents: read
         packages: write
         id-token: write
      steps:
         -  uses: actions/checkout@v3
         -  uses: gradle/actions/wrapper-validation@v3
         -  uses: actions/setup-java@v3
            with:
               distribution: 'temurin'
               java-version: '21.x'
               cache: 'gradle'
         -  name: test and build
            run: ./gradlew test build
            env:
               ORG_GRADLE_PROJECT_githubUser: x-access-token
               ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
         -  uses: nais/docker-build-push@v0
            id: docker-push
            with:
               team: risk
      outputs:
         IMAGE: ${{ steps.docker-push.outputs.image }}

#   deploy_to_dev:
#      name: Deploy to dev
#      needs: build
#      if: github.ref == 'refs/heads/master'
#      runs-on: ubuntu-latest
#      permissions:
#         id-token: write
#         contents: read
#      steps:
#         -  uses: actions/checkout@v3
#         -  uses: nais/deploy/actions/deploy@v2
#            env:
#               IMAGE: ${{ needs.build.outputs.IMAGE }}
#               CLUSTER: dev-fss
#               RESOURCE: deploy/nais.yml
#               VARS: deploy/dev.yml
#
#   deploy_to_prod:
#      name: Deploy to prod
#      needs: build
#      if: github.ref == 'refs/heads/master'
#      runs-on: ubuntu-latest
#      permissions:
#         id-token: write
#         contents: read
#      steps:
#         -  uses: actions/checkout@v3
#         -  uses: nais/deploy/actions/deploy@v2
#            env:
#               IMAGE: ${{ needs.build.outputs.IMAGE }}
#               CLUSTER: prod-fss
#               RESOURCE: deploy/nais.yml
#               VARS: deploy/prod.yml

   deploy_to_dev_gcp:
      name: Deploy to devGCP
      needs: build
      if: github.ref == 'refs/heads/master'
      runs-on: ubuntu-latest
      permissions:
         id-token: write
         contents: read
      steps:
         -  uses: actions/checkout@v3
         -  uses: nais/deploy/actions/deploy@v2
            env:
               IMAGE: ${{ needs.build.outputs.IMAGE }}
               CLUSTER: dev-gcp
               RESOURCE: deploy/nais-gcp.yml

   deploy_to_prod_gcp:
      name: Deploy to prodGCP
      needs: build
      if: github.ref == 'refs/heads/master'
      runs-on: ubuntu-latest
      permissions:
         id-token: write
         contents: read
      steps:
         -  uses: actions/checkout@v3
         -  uses: nais/deploy/actions/deploy@v2
            env:
               IMAGE: ${{ needs.build.outputs.IMAGE }}
               CLUSTER: prod-gcp
               RESOURCE: deploy/nais-gcp.yml
